body {
    background-color: burlywood;
    margin: 0;
}

.main-container .heading {
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.main-container .greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .heading img {
    width: 70%;
}

.main-container .heading span {
    font-size: 3em;
    background: linear-gradient(to bottom right, #91d5fc, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-container .heading .welcome-heading {
    transform: rotate(-25deg);
    position: relative;
}

.main-container .instruction {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

.main-container .instruction h1 {
    font-family: 'Architects Daughter', cursive;
    width: 400px;
    font-size: 72px;
    text-align: right;
    color: cadetblue;
}

.main-container .instruction h1 span {
    color: #000;
}

.main-container .instruction img {
    width: 30%;
    margin: 0 0 0 3%;
}

.main-container .instruction #input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #91d5fc;
    border-radius: 5%;
    width: 25%;
}

.main-container .instruction #input-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .instruction #input-form .p-tag-error {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
}

.main-container .instruction #input-form .form input {
    height: 30px;
    position: relative;
}

.main-container .instruction #input-form .form span {
    display: none;
    color: tomato;
    position: absolute;
    font-size: xx-large;
    right: 11%;
}

.main-container .instruction #input-form .form button {
    margin: 3% 0;
    width: 30%;
    background-color: chartreuse;
}

.main-container .polar-gif {
    display: flex;
    justify-content: center;
    padding: 5%;
}

footer {
    display: flex;
    justify-content: center;
    background: radial-gradient(darkblue, lightblue);
}

footer p {
    color: turquoise;
}